html, body {
	height: 100%;
	box-sizing: border-box;
}

body {
	background-color: #fafafa;
}

* {
	box-sizing: border-box
}

/*MAIN*/
#container {
	margin: 0 12.5%;
	height: 100%;
}

/*NAVBAR*/
#nav {
	overflow: hidden;
	background-color: #333;
	width: 100%;
	position: relative;
	font-family: 'Oswald', sans-serif;
	font-size: 15px;
	padding: 0 12.5%;
}

#nav li {
	float: left;
	text-align: center;
}

#nav li a {
	display: block;
	color: white;
	padding: 12px 14px;
	text-decoration: none;
	text-transform: capitalize;
	letter-spacing: .5px;
	transition: 0.3s linear;
}

#nav li a:hover, #nav li a.active {
	color: #ffd700;
}

/*CMIFF*/
header {
	display: block;
	padding: 1% calc(12.5% + 8px)!important;
}

#head {
	width: 150px;
	text-align: center;
}

#head a {
	color: black;
	text-decoration: none;
	transition: .3s;
}

#head a:hover {
	color: #999;
}

.dates {
	font-size: 14px;
	display: block;
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
}

.cmiff {
	font-size: 40px;
	font-family: 'Monoton', cursive;
	height: 38px;
	display: block;
}

/*SEARCH*/
form {
	float: right;
	margin: 7px 0!important;
	width: 25%;
}

input {
	padding: 5px;
}

input[type="text"] {
	border: 0;
	margin-right: -4px;
	width: 90%;
}

input[type="submit"] {
	border: 0;
	background-color: #ffd700;
	width: 10%;
	background-image: url(/cmiff/images/search-icon.png);
	background-size: 15px;
	background-repeat: no-repeat;
	background-position: center center;
	transition: .3s;
}

input:focus {
	outline: 0;
}

input[type="submit"]:hover {
	background-image: url(/cmiff/images/search-icon-black.png);
	cursor: pointer;
}

/*SIDEBAR*/
#sidebar {
	background: #ddd;
	height: 100%;
	width: 25%;
	float: right;
}

/*CONTACT*/
#sidebar h3 {
	font-family: 'Oswald', sans-serif;
	color: white;
	text-shadow: 2px 2px 0 0 black;
	text-align: center;
}
