.mask {
  position: relative;
  height: 410px;
  width: 256px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
  overflow: hidden;
  display: inline-block;
  margin: 7.5px 0 7.5px 15px;
}

.mask img {
  position: absolute;
  height: 410px;
  width: 256px;
  top: 50%;
  left: 50%;
  margin-top: -205px;
  /* half the height */
  margin-left: -128px;
  /*half the width */
}

.caption {
  background-color: #aaa;
  position: absolute;
  color: #fff;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 4px 20px 4px 15px;
  font-size: 0.8em;
  font-family: Arial;
  opacity: 0;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.mask:hover .caption {
    opacity: 1;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}

/* format */

movie {
    display: block;
    font-size: 24px;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-family: 'Francois One', sans-serif;
}

info {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-size: 12px;
    font-family: 'Droid Serif', serif;
}